/.idea/
/vendor/
/node_modules/
.env
.env.local
.env.*.local
/.vscode/
/.history/
.DS_Store
Thumbs.db
error_log
*.log
*.sql
*.sqlite
vwam-*.json
/.cache/
.phpunit.result.cache
/.sass-cache/
/.parcel-cache/
/.next/
public/uploads/
public/.htaccess
user.ini
php.ini
/.env.php
/.php_cs.cache
ti-kane/node_modules/
ti-kane/package-lock.json
.env.local.php
.env.*.php
*.pem
*.key